html {
  background-color: black;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #a09f9f;
}

section {
  width: 600px;
  padding: 20px;
  background-color: #a09f9f;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

.section1 p {
  text-align: center;
}
.section1 h1, .section1 p {
  display: inline;
  margin: 0;
  padding-right: 20px;
}
